<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>HMS</h1>
            <div class="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/room1">Rooms</a></li>
                    <li><a href="#">Admin</a></li>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>   
        </div>


 
 <div class="container">
    
    <div class="about">
       <div class="left">
          <h1>About us</h1>
          <hr>
          <p style=text-align:justify>A hotel is an establishment that provides paid lodging on
               a short-term basis. Facilities provided inside a hotel room may 
               range from a modest-quality mattress in a small room to large suites 
               with bigger, higher-quality beds, a dresser, a refrigerator and other 
               kitchen facilities, upholstered chairs, a flat screen television, and 
               en-suite bathrooms. Small, lower-priced hotels may offer only the most 
               basic guest services and facilities. Larger, higher-priced hotels may 
               provide additional guest facilities such as a swimming pool, business 
               centre (with computers, printers, and other office equipment), childcare, conference and event facilities, tennis or basketball courts, gymnasium, restaurants, day spa, and social function services. Hotel rooms are usually numbered (or named in some smaller hotels and B&Bs) to allow guests to identify their room. Some boutique, high-end hotels have custom decorated rooms. Some hotels offer meals as part of a room and board arrangement. In Japan, capsule hotels provide
               a tiny roo suitable only for sleeping and shared bathroom facilities.</p>
 
       </div>
       <div class="right">
          <img src="images/hotel.jpg" height="400px">
       </div>
       <div class="clear"></div>
    </div>
    
    
    
    <div class="mission">
      
       <div class="left">
          <img src="images/h1.jpg" height="400pxs">
       </div>
         <div class="right">
          <h1>Mission Statement</h1>
          <hr>
          <p style="text-align:justify">A hotel is an establishment that provides paid lodging on a short-term basis. Facilities provided inside a hotel room may range from a modest-quality mattress in a small room to large suites with bigger, higher-quality beds, a dresser, a refrigerator and other kitchen facilities, upholstered chairs, a flat screen television, and en-suite bathrooms. Small, lower-priced hotels may offer only the most basic guest services and facilities. Larger, higher-priced hotels may provide additional guest facilities such as a swimming pool, business centre (with computers, printers, and other office equipment), childcare, conference and event facilities, tennis or basketball courts, gymnasium, restaurants, day spa, and social function services. Hotel rooms are usually numbered (or named in some smaller hotels and B&Bs) to allow guests to identify their room. Some boutique, high-end hotels have custom decorated rooms. Some hotels offer meals as part of a room and board arrangement. In Japan, capsule hotels provide a tiny room suitable only for sleeping and shared bathroom facilities.</p>
 
       </div>
       <div class="clear"></div>
       
    </div>
    
    
   
        <div class="team">
       <h1> Our Team<hr></h1>
           
           
           
       <div  class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">M</h1>
          </div>
          <h2>Mahesh E U</h2>
          <h4>Technical Lead</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>
           
           
           
       <div class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">M</h1>
          </div>
          <h2>Mridul</h2>
          <h4>Evangelist</h4>
           <p>Lorem ipsum dolor sit amet, consectetur 
               adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>
           
           
           
       <div class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">R</h1>
          </div>
          <h2>Rajesh</h2>
          <h4>Evangelist</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>
           
           
           
       <div class="card">
         <div class="circle-container">
             <h1 style="color:#fff;">B</h1>
          </div>
          <h2>Bharti</h2>
          <h4>Evangelist</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>
           
              <div class="card">
          <div class="circle-container">
             <h1 style="color:#fff;">A</h1>
          </div>
          <h2>Anhsuman</h2>
          <h4> Advisor</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>       
       </div>
           
           
           
       <div class="card">
         <div class="circle-container">
             <h1 style="color:#fff;">S</h1>
          </div>
          <h2>Shruti</h2>
          <h4> Advisor</h4>
           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
       </div>
           
           
    </div>
 
    
 </div>
 <footer>
    <br>
    <p>Copyright ©2020 @@@@@@@@. All rights reserved</p>
 </footer>
</body>
</html>
 