<%- include('./partials/top.ejs')%>
<%- include('./partials/topbar.ejs')%>
<%- include('./partials/navbar.ejs')%>

<form action="/roomdetail" method="post" enctype="multipart/form-data">
    <div class="body">
        <h2 class="card-inside-title">Room Detail</h2>
    
         <div class="form-group">
                        <div class="form-line">
                            <input type="text" class="form-control" placeholder="roomname" name="roomname">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                           <div class="row clearfix">
                <div class="col-sm-12">
                      <input type="text" class="form-control" placeholder="description" name="description" >
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-line">
                   <div class="row clearfix">
        <div class="col-sm-12" >
            <input type="file" name="fufile">
              <!-- <input type="text" class="form-control" placeholder="photopath" name="photopath"  > -->
                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-line">
           <div class="row clearfix">
<div class="col-sm-12">
      <input type="text" class="form-control" placeholder="price" name="price" >
        </div>

    </div>
</div>
</div>
</div>
<input type="submit" value="save">

</form>





<%- include('./partials/bottom.ejs')%>